
body {
  background-image: 
    url('https://source.unsplash.com/3THn0EN_Ydo/1920x1080'); 
  /* background-color: #66e0ff; */
}

.navbar-brand {
  text-align: left;
}

/* .main-body {
  opacity: 1.0;
} */